<header class="site-header">
    <div class="container">
        <div class="menu-wrapper">
            <div class="header_logo">
                <img width="91" height="64" src="images/logo.svg" alt="">
            </div>
            <div class="main_menu">
                <div class="close_mobile_menu">
                    <a class="closeMobileMenu" href="#"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path fill="#c2c2c2" d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Solutions</a>
                            <ul>

                                    <li><a href="#">MES</a></li>
                                    <li><a href="#">APS</a></li>
                                    <li><a href="#">MES+APS</a></li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Industry</a></li>
                        <li class="menu-item-has-children"><a href="#">Resources</a></li>
                        <li class="menu-item-has-children"><a href="#">Company</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mobile_wrap">
                <div class="side_phone">
                    <a href="tel:1-877-GO-EYELIT" class="phone_btn">1-877-GO-EYELIT</a>
                </div>
                <div class="mobile_btn">
                    <a href="#" class="openMenuBtn">
                        <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="3" rx="1.5" fill="white"/>
                            <rect y="10" width="24" height="3" rx="1.5" fill="white"/>
                            <rect x="8" y="20" width="16" height="3" rx="1.5" fill="white"/>
                        </svg>

                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
