.case_study_block{
  padding-top: 100px;
  @media ('max-width: 767px') {
    padding-top: 80px;
  }
  .case_study_block_wrap{
    border-radius: 8px;
    background-color: #fff;
    padding: 40px;
    display: flex;
    align-items: stretch;
    gap: 40px;
    @media ('max-width: 768px') {
      flex-direction: column-reverse;
    }
    @media ('max-width: 767px') {
      padding: 24px;
      gap: 24px;
    }
    .content_side{
      .pre_title{
        font-size: 24px;
        line-height: 32px;
        color: #7C7C7C;
        font-weight: 300;
        margin-bottom: 8px;
        display: block;
        @media ('max-width: 767px') {
         font-size: 16px;
        }
      }
      .block_cs_title{
        margin-bottom: 24px;
        h2{
          font-size: 32px;
          line-height: 150%;
          color: #231F20;
          font-weight: 300;
          font-family: $font;
          @media ('max-width: 767px') {
            font-size: 24px;
          }
          b{
            font-weight: 700;
          }
        }
      }
      .block_cs_link{
        a{
          width: fit-content;
        }
      }
      .block_cs_content{
        margin-bottom: 40px;
        p{
          font-size: 16px;
          line-height: 32px;
          color: #231F20;
          margin-bottom: 24px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    .image_side{
      width: 480px;
      flex-shrink: 0;
      border-radius: 16px;
      overflow: hidden;
      object-fit: fill;
      @media ('max-width: 768px') {
        width: 100%;
      }
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
}