.industry_result {
  padding-top: 150px;
  background-color: #052244;
  background-image: url("../images/blocks/banner_img/bubbles_pattern.png");
  background-position: 19px 20px;
  background-repeat: repeat;
  padding-bottom: 40px;
  @media ('max-width: 767px') {
    padding-top: 230px;
  }
  &:after{
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #052244;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: -8px;
    transform: rotate(45deg);
  }
  .result_wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    @media ('max-width: 767px') {
      display: grid;
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px 25px;
      grid-template-columns: 1fr 1fr;
    }
    .result_item{
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      @media ('max-width: 767px') {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
      }
      .res_cout{
        color: #fff;
        font-size: 40px;
        line-height: 1;
        font-weight: 600;
        text-align: center;
        @media ('max-width: 767px') {
          font-size: 24px;
          text-align: left;
        }
      }
      .res_text{
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        @media ('max-width: 767px') {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}