.industry{
  padding-top: 110px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  &.aps_industry{
    padding-top: 100px;
    padding-bottom: 0px;
    @media ('max-width: 768px') {
      padding-top: 40px;
      padding-bottom: 0px;
    }
  }
  @media ('max-width: 768px') {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .container{
    position: relative;
    z-index: 2;
  }
  .hex{
    bottom: -600px;
    left: -600px;
    z-index: 1;
    &.top{
      top: -600px;
      left: auto;
      right: -600px;
      bottom: auto;
    }
    @media ('max-width: 767px') {
      bottom: -230px;
      left: -170px;
      &.top{
        top: -230px;
        left: auto;
        right: -170px;
        bottom: auto;
      }
    }
  }
  .block_animation{
    margin-bottom: 96px;

    .anim_item{
      position: relative;
      max-width: 960px;
      width: 100%;
      margin: auto;
      .anim_img{
        aspect-ratio: 960/574;
        object-fit: fill;
        object-position: center;
      }
      .animdots{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        .dot{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.7);
          border: 1px solid #E6E6E6;
          position: absolute;
          transition: all .3s ease-in-out;
          cursor: pointer;
          filter: drop-shadow(0px 0px 14.4px #052244);
          &.highlighted{
            width: 40px;
            height: 40px;
            .midle_c{
              width: 24px;
              height: 24px;

              .small_c{
                width: 16px;
                height: 16px;
                background-color: #0392E3;
              }
            }
          }
          &:hover{
            width: 40px;
            height: 40px;
            .midle_c{
              width: 24px;
              height: 24px;

              .small_c{
                width: 16px;
                height: 16px;
                background-color: #0392E3;
              }
            }
          }

          .midle_c{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14.4px;
            height: 14.4px;
            border-radius: 50%;
            border: 1px solid rgba(55, 164, 128, 0.5);
            transition: all .3s ease-in-out;
            .small_c{
              width: 9.6px;
              height: 9.6px;
              border-radius: 50%;
              background-color: #0E3983;
              transition: all .3s ease-in-out;
            }
          }

          &.aeroplace{
            left: 51%;
            top: 10%;
            &:hover{
              left: 50.1%;
              top: 8.7%;
            }
          }
          &.medical{
            left: 90%;
            top: 38%;
            &:hover{
              left: 89.1%;
              top: 36.7%;
            }
          }
          &.semiconductor{
            left: 74%;
            top: 50%;
            &:hover{
              left: 73.1%;
              top: 48.7%;
            }
          }
          &.battery{
            left: 38%;
            top: 26%;
            &:hover{
              left: 37.1%;
              top: 24.7%;
            }
          }
          &.food{
            left: 51%;
            top: 40%;
            &:hover{
              left: 50.1%;
              top: 38.7%;
            }
          }
          &.automative{
            left: 8%;
            top: 41%;
            &:hover{
              left: 7.1%;
              top: 39.7%;
            }
          }
        }

        @media ('max-width: 767px') {
          .dot{

            width: 12px;
            height: 12px;

            &.highlighted{
              width: 20px;
              height: 20px;
              .midle_c{
                width: 12px;
                height: 12px;

                .small_c{
                  width: 8px;
                  height: 8px;
                }
              }
            }
            &:hover{
              width: 20px;
              height: 20px;
              .midle_c{
                width: 12px;
                height: 12px;

                .small_c{
                  width: 8px;
                  height: 8px;

                }
              }
            }

            .midle_c{
              width: 8px;
              height: 8px;

              .small_c{
                width: 4px;
                height: 4px;
              }
            }

            &.aeroplace{
              left: 51%;
              top: 10%;
              &:hover{
                left: 50.1%;
                top: 8.7%;
              }
            }
            &.medical{
              left: 90%;
              top: 38%;
              &:hover{
                left: 89.1%;
                top: 36.7%;
              }
            }
            &.semiconductor{
              left: 74%;
              top: 50%;
              &:hover{
                left: 73.1%;
                top: 48.7%;
              }
            }
            &.battery{
              left: 38%;
              top: 26%;
              &:hover{
                left: 37.1%;
                top: 24.7%;
              }
            }
            &.food{
              left: 51%;
              top: 40%;
              &:hover{
                left: 50.1%;
                top: 38.7%;
              }
            }
            &.automative{
              left: 8%;
              top: 41%;
              &:hover{
                left: 7.1%;
                top: 39.7%;
              }
            }
          }
        }

      }
      .animdescript{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        @media ('max-width: 767px') {
          top: 65%;
        }
        .descrip{
          box-sizing: border-box;
          background: rgba(255, 255, 255, 0.5);
          border: 1px solid #D9D9D9;
          backdrop-filter: blur(9.43259px);
          border-radius: 16px;
          max-width: 320px;
          padding: 16px;
          position: absolute;
          top: 20px;
          opacity: 0;
          transform: translateY(20px);
          pointer-events: none;
          transition: opacity 0.4s ease, transform 0.4s ease;
          &.active {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
          }
          .head{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            margin-bottom: 8px;
            .ico{
              display: flex;
              align-items: center;
              justify-content: flex-start;
              svg{
                flex-shrink: 0;
              }
            }
            .title{
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
            }
          }

          &.aeroplace{
            right: 0;
          }
          &.medical{
            right: 0;
          }
          &.semiconductor{
            right: 0;
          }
          &.battery{
            left: 0;
          }
          &.food{
            left: 0;
          }
          &.automative{
            left: 0;
          }
        }
      }
    }

  }
  .block_title{
    margin-bottom: 65px;
    h2{
      font-family: $fontloght;
      font-size: 40px;
      font-weight: 300;
      line-height: 48px;
      text-transform: none;
      text-align: center;
      @media ('max-width: 767px') {
        font-size: 24px;
        line-height: 32px;
      }
      b{
        font-weight: 600;
        font-family: $font;
      }
      strong{
        font-weight: 600;
        font-family: $font;
      }
    }
  }
  .industry_wrap{
    display: grid;
    column-gap: 24px;
    row-gap: 64px;
    grid-template-columns: repeat(3, 1fr);

    @media ('max-width: 1250px') {
      grid-template-columns: repeat(3, 1fr);
    }
    @media ('max-width: 768px') {
      grid-template-columns: repeat(2, 1fr);
    }
    @media ('max-width: 767px') {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
    }
    .industry_item{
      text-align: center;
      //background-color: #fff;
      //-webkit-box-shadow: 8px 8px 40px 0px rgba(191, 208, 225, 0.5);
      //-moz-box-shadow: 8px 8px 40px 0px rgba(191, 208, 225, 0.5);
      //box-shadow: 8px 8px 40px 0px rgba(191, 208, 225, 0.5);
      //border-radius: 16px;
      padding: 0px 20px 24px;
      position: relative;
      .item_ico{
        position: relative;
        margin-bottom: 16px;

        a{
          img{
            width: 120px;
            aspect-ratio: 120/96;
            margin-right: auto;
            margin-left: auto;
          }
          &:hover{
            img{
              width: 120px;
              aspect-ratio: 120/96;
              margin-right: auto;
              margin-left: auto;
            }
          }
        }

      }
      .item_title{
        margin-bottom: 8px;
        span{
          font-family: $font;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
        }
      }
      .item_text{
        p{
          font-family: $font;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 0;
        }
      }
    }
  }

  &.mes_industry{
    .industry_wrap{
      display: grid;
      column-gap: 80px;
      row-gap: 40px;
      grid-template-columns: repeat(3, 352px);
      @media ('max-width: 1250px') {
        grid-template-columns: repeat(3, 1fr);
      }
      @media ('max-width: 768px') {
        grid-template-columns: repeat(2, 1fr);
      }
      @media ('max-width: 767px') {
        grid-template-columns: repeat(1, 1fr);
      }
      .industry_item{
        text-align: left;
        .item_ico{
          margin-bottom: 23px;
          img{
            width: 40px;
            aspect-ratio: 40/40;
            margin-right: auto;
            margin-left: auto;
          }
        }
        .item_title{
          span{
            font-family: $font;
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
          }
        }
        .item_text{
          p{
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
          }
        }
      }
    }
  }
  &.aps_industry{
    padding-top: 122px;
    @media ('max-width: 767px') {
      padding-top: 80px;
    }
    .block_title{
      margin-bottom: 35px;
      h2{
        margin-bottom: 7px;

      }
      .subtitle{
        font-family: $font;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
      }
    }
    .industry_wrap{
      row-gap: 43px;
      .industry_item{
        .item_title{
          span{
            letter-spacing: 0.9px;
          }
        }
      }
    }
  }

  &.mesaps_industry{
    padding-top: 120px;
    .white_bg_container{
      border-radius: 24px;
      padding: 40px;
      box-shadow: 8px 8px 64px 0px rgba(0, 50, 109, 0.15);
      background: rgb(255, 255, 255);
      @media ('max-width: 767px') {
        padding: 24px;
      }
      .block_title{
        h2{
          margin-bottom: 16px;
        }
        .subtitle{
          font-family: $font;
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          @media ('max-width: 767px') {
            text-align: center;
            display: inline-block;
          }
        }
      }
    }
    .industry_wrap{
      display: grid;
      column-gap: 80px;
      row-gap: 40px;
      grid-template-columns: repeat(3, 352px);
      @media ('max-width: 1250px') {
        grid-template-columns: repeat(3, 1fr);
      }
      @media ('max-width: 768px') {
        grid-template-columns: repeat(2, 1fr);
      }
      @media ('max-width: 767px') {
        grid-template-columns: repeat(1, 1fr);
      }
      .industry_item{
        text-align: left;
        .item_ico{
          margin-bottom: 23px;
          img{
            width: 40px;
            aspect-ratio: 40/40;
            margin-right: auto;
            margin-left: auto;
          }
        }
        .item_title{
          span{
            font-family: $font;
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
          }
        }
        .item_text{
          p{
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
          }
        }
      }
    }
  }
}

