.key_compilation{
  padding-top: 100px;
  @media ('max-width: 768px') {
    padding-top: 80px;
  }
  .block_title{
    margin-bottom: 64px;

    text-align: center;

    h2{
      font-family: $font;
      font-size: 40px;
      font-weight: 300;
      line-height: 48px;
      text-transform: none;
      @media ('max-width: 767px') {
        font-size: 24px;
        line-height: 32px;
      }
      strong{
        font-weight: 700;
      }
      b{
        font-weight: 700;
      }
    }
  }
  .logos_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 52px;
    padding-right: 52px;
    gap: 80px;
    @media ('max-width: 768px') {
      flex-wrap: wrap;
      gap: 32px;
      .logo_item{
        width: calc(100% / 3 - 32px);
        display: flex;
        justify-content: center;
      }
    }
    @media ('max-width: 767px') {
      padding: 0;
    }
  }
  .under_text{
    margin-top: 40px;
    text-align: center;
    p{
      font-size: 20px;
      line-height: 150%;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}