.search_form{
  position: relative;
  padding-top: 15px;
  @media ('max-width: 768px') {
    padding-top: 5px;
  }
  #searchform{
    display: flex;
    gap: 16px;
    position: absolute;
    right: 0;
    z-index: -1;
    opacity: 0;
    align-items: center;
    #s{
      border: none;
      border-bottom: 1px solid rgba(35, 31, 32, 1);
      width: 240px;
      border-radius: 0;
      background-color: transparent;
      &:active{
        background-color: transparent;
      }
      &:focus{
        background-color: transparent;
      }
      @media ('max-width: 768px') {
        width: 175px;
      }
    }
    #searchsubmit{
      cursor: pointer;
      text-indent: -9999px;
      background-color: transparent;
      border: none;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1959_3796)'%3E%3Cpath d='M31.609 29.724L23.6504 21.7653C25.8192 19.1128 26.8855 15.7281 26.6288 12.3114C26.3721 8.89472 24.812 5.70739 22.2712 3.40871C19.7303 1.11003 16.4032 -0.124129 12.9779 -0.0384868C9.55263 0.0471556 6.29131 1.44605 3.86853 3.86883C1.44574 6.29162 0.0468505 9.55294 -0.038792 12.9782C-0.124434 16.4035 1.10972 19.7306 3.4084 22.2715C5.70708 24.8123 8.89442 26.3724 12.3111 26.6291C15.7278 26.8859 19.1125 25.8195 21.765 23.6507L29.7237 31.6094C29.9752 31.8522 30.312 31.9866 30.6616 31.9836C31.0112 31.9805 31.3456 31.8403 31.5928 31.5931C31.84 31.3459 31.9802 31.0115 31.9833 30.6619C31.9863 30.3123 31.8519 29.9755 31.609 29.724ZM13.333 24C11.2234 24 9.16108 23.3744 7.40696 22.2024C5.65284 21.0303 4.28566 19.3644 3.47833 17.4153C2.67099 15.4662 2.45976 13.3215 2.87133 11.2524C3.28291 9.18325 4.29881 7.28264 5.79057 5.79088C7.28233 4.29912 9.18295 3.28321 11.2521 2.87164C13.3212 2.46006 15.4659 2.6713 17.415 3.47863C19.3641 4.28597 21.03 5.65314 22.2021 7.40726C23.3741 9.16139 23.9997 11.2237 23.9997 13.3333C23.9965 16.1613 22.8717 18.8726 20.872 20.8723C18.8723 22.872 16.161 23.9968 13.333 24Z' fill='%23231F20'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1959_3796'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      @media ('max-width: 768px') {
        width: 24px;
        padding: 0;
        height: 24px;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.7078 22.293L17.7388 16.324C19.3654 14.3346 20.1651 11.7961 19.9726 9.23359C19.7801 6.67106 18.61 4.28056 16.7043 2.55655C14.7987 0.832537 12.3034 -0.0930816 9.7344 -0.0288498C7.16545 0.035382 4.71946 1.08455 2.90237 2.90164C1.08528 4.71873 0.0361144 7.16472 -0.0281174 9.73367C-0.0923492 12.3026 0.833269 14.798 2.55728 16.7036C4.28129 18.6092 6.67179 19.7793 9.23432 19.9719C11.7969 20.1644 14.3354 19.3647 16.3248 17.738L22.2938 23.707C22.4824 23.8892 22.735 23.99 22.9972 23.9877C23.2594 23.9854 23.5102 23.8803 23.6956 23.6948C23.881 23.5094 23.9862 23.2586 23.9884 22.9964C23.9907 22.7342 23.8899 22.4816 23.7078 22.293ZM10.0008 18C8.41851 18 6.87179 17.5308 5.5562 16.6518C4.2406 15.7727 3.21522 14.5233 2.60972 13.0615C2.00422 11.5997 1.84579 9.99115 2.15448 8.4393C2.46316 6.88746 3.22508 5.46199 4.3439 4.34317C5.46272 3.22435 6.88819 2.46243 8.44004 2.15374C9.99189 1.84506 11.6004 2.00349 13.0622 2.60899C14.524 3.21449 15.7735 4.23987 16.6525 5.55546C17.5316 6.87106 18.0008 8.41778 18.0008 10C17.9984 12.121 17.1548 14.1545 15.655 15.6543C14.1552 17.154 12.1218 17.9976 10.0008 18Z' fill='%23231F20'/%3E%3C/svg%3E%0A");
      }
    }
  }
  .search_triger{
    position: relative;
    z-index: 2;
    opacity: 1;
    padding-top: 5px;
    @media ('max-width: 1024px') {
      padding-top: 0px;
    }
  }

}