.solutions{
  padding-top: 90px;
  background-color: #052244;
  background-image: url("../images/blocks/banner_img/bubbles_pattern.png");
  background-position: 19px 20px;
  background-repeat: repeat;
  padding-bottom: 100px;
  &:after{
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #052244;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: -8px;
    transform: rotate(45deg);
  }
  @media ('max-width: 768px') {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .block_title{
    font-family: $fontloght;
    font-size: 40px;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    text-transform: none;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #fff;
    b{
      font-family: $fontblack;
      font-weight: 600;
    }

    @media ('max-width: 767px') {
      font-size: 24px;
      line-height: 32px;
      margin-top: 60px;
    }

  }
  .solutions_wrap{
    display: flex;
    column-gap: 66px;
    justify-content: space-between;
    align-items: stretch;
    @media ('max-width: 1024px') {
      column-gap: 40px;
    }
    @media ('max-width: 768px') {
      flex-direction: column;
    }
    .solution_item{
      border-radius: 8px;
      position: relative;
      background-color: #F1F1F1;
      overflow: hidden;
      text-align: center;
      width: 29.74%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @media ('max-width: 768px') {
        width: 100%;
        margin-bottom: 64px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      .si_top{
        padding-top: 26px;
        padding-left: 24px;
        padding-right: 24px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: stretch;
      }
      .item_title{
        span{
          font-family: $fontblack;
          font-size: 40px;
          font-weight: bold;
          line-height: 56px;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 5px;
          display: block;
        }
      }
      .item_description{
        span{
          display: block;
          font-family: $font;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
          text-align: center;
          margin-bottom: 24px;
        }
      }
      .item_ico{
        width: 100%;
        aspect-ratio: 364/255;


        margin: 0;
        @media ('max-width: 768px') {
          max-width: 100%;
          width: 364px;
        }

      }
      .item_btn{
        margin-bottom: 17px;
        text-align: center;
        display: flex;
        align-items: end;
        justify-content: center;
        height: 100%;
        .btn{
          font-size: 16px;
          font-weight: 600;
          line-height: 16px;
          width: 160px;
          min-width: unset;
          height: 48px;
          padding: 0;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: none;
          background-color: rgba(0, 50, 109, 10%);
          &:hover{
            background-color: #00326D;
            color: #fff;
          }
        }
      }
    }
  }
}