$font: "Segoe";
$secondFont: "Segoe";
$fontloght: "Segoe UI Light";
$fontblack: "Segoe UI Black";


$maxWidthContainer: 1256px;
$largeMaxWidthContainer: 1336px;

$colorFont: rgba(35, 31, 32, 1);
$heroFontsColor : rgb(93, 84, 86);
$colorMain: #00A1D4;
$akcentColor: rgba(55, 164, 128, 1);